[submodule "quasi_1d_euler"]
	path = quasi_1d_euler
	url = git@bitbucket.org:odl/quasi_1d_euler.git
[submodule "linear_elastic_csm"]
	path = linear_elastic_csm
	url = git@bitbucket.org:odl/linear_elastic_csm.git
